@import "./imports.scss";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("/assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  header {
    color: white;
    padding: 20px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    text-decoration: none;

    p {
      color: white;
    }

    span {
      color: white;
      margin-left: 20px;
      text-transform: uppercase;
    }

    h2 {
      color: white;
    }
  }
}

.pointer {
  cursor: pointer;
}
